.grid_row {
    /* flex-wrap: nowrap; */
    margin-left: 0;
    margin-right: 0;
    gap: 8px;
}

.grid_col-6 {
    width: calc(50% - 8px);
    padding-left: 0;
    padding-right: 0;
}

.title {
    background: #E7E7E7;
    padding: 20px;
}

.title-text {
    font-size: 16px;
}

.title-sub {
    font-size: 12px;
    margin-top: 8px;
}

.container {
    display: none;
    margin-top: 100px;
}

#pitch_img-list {
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.pitch_img-item {
    overflow: hidden;
}

.pitch_img-item img {
    width: 100%;
    object-fit: cover;
    display: grid;

}

.pitch_img-item-main {
    height: 100%;
}

.pitch_img-item-main img {
    height: 100%;
}

.pitch_img-list-sub {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: calc(50%);
    gap: 8px;
}

.pitch_img-list-sub .pitch_img-item {
    width: calc(50% - 4px);
    /* display: block; */
}

.pitch_img-list-sub img {
    height: 100%;
}

.btn-img-list {
    position: absolute;
    right: 12px;
    bottom: 12px;
    display: none;
    padding: 4px 20px;
    outline: none;
    /* border: none; */
    cursor: pointer;
}

.pitch_put {
    margin-top: 20px;
}

.pitch_put-heading {
    background-color: #E7E7E7;
    padding: 16px 24px;
    border-radius: 4px;
}

.pitch_put-heading-title {
    font-size: 16px;
}

.pitch_put-body {
    margin-top: 12px;
}

.pitch_put-body table {
    /* width: 60%; */
    margin: 0 auto;
    border: 1px solid black;
}

.pitch_put-body th,
.pitch_put-body td {
    border: 1px solid black;
    width: 15%;
    height: 40px;
    text-align: center;
}

.btn-pitch_put {
    color: #fff;
    background-color: rgb(211, 2, 2);
    padding: 8px 28px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-pitch_put:hover {
    background-color: red;
}

.pitch_service {
    margin-top: 20px;
}

.pitch_service-heading {
    background-color: #E7E7E7;
    padding: 16px 24px;
    border-radius: 4px;
}

.pitch_service-heading-title {
    font-size: 16px;
}

.pitch_service-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 40px;
    margin-top: 12px;
}

.pitch_service-body-item {
    width: 33.3334%;
    margin-top: 24px;
}

.footer {
    margin-top: 100vh;
}