* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 32px;
    background: linear-gradient(90deg, rgb(0, 89, 255), #00ff62, rgb(187, 255, 0))
}

.login {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #fff;
    padding: 28px;
    display: block;
    z-index: 1000;
}

.login-header {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
}

.login-form {
    width: 100%;
    max-width: 340px;
    padding: 24px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
}

.login-form-item {
    margin-bottom: 16px;
}

.login-from-item-text {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 8px;
}

.login-form-item input {
    width: 100%;
    height: 36px;
    padding: 0 16px;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 4px;
}

.login-form-list-sub {
    display: flex;
    align-self: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 16px;
}

.login-form-sub-item {
    display: flex;
    align-items: center;
}

.login-form-sub-item input {
    margin-right: 4px;
    cursor: pointer;
}

.login-form-sub-item label {
    cursor: pointer;
}

.login-form-sub-item a {
    /* display: ; */
    color: #fff;
    text-decoration: none;
}

.login-form-sub-item a:hover {
    color: #19A702;
}

.btn {
    width: 100%;
    line-height: 36px;
    font-size: 16px;
    color: #fff;
    padding: 0 12px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.btn-form {
    background-color: #19A702;
}

.btn-form:hover {
    background-color: #18a702dc;
}

.login-footer {
    text-align: center;
}

.login-footer-title {
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 16px;
}

.login-footer-title::before {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-right: 4px;
    transform: translateY(-50%);
    content: "";
    width: 124px;
    height: 1px;
    background-color: #ccc;
}

.login-footer-title::after {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 4px;
    transform: translateY(-50%);
    content: "";
    width: 124px;
    height: 1px;
    background-color: #ccc;
}

.login-footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
}

.btn-footer {
    display: inline-block;
    text-decoration: none;
    max-width: 128px;
}

.btn-fb {
    background-color: blue;
}

.btn-fb:hover {
    background-color: rgba(0, 0, 255, 0.733);
}

.btn-gg {
    background-color: #FE4141;
}

.btn-gg:hover {
    background-color: #fe4141bb;
}

.link-register {
    display: inline-block;
}

.btn-register {
    display: block;
    text-decoration: none;
}

.btn-register:hover {
    color: #19A702;
}