.register-form-footer {
    margin-top: 24px;
    text-align: center;
}

.register-form-footer-title {
    font-size: 14px;
    margin-bottom: 8px;
}

.btn-login {
    text-decoration: none;
    color: #19A702;
}

.btn-login:hover {
    color: #26f806;
}

label.error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: inline-block;
}

#done {
    display: inline-block;
    color: #fff;
    background-color: red;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 16px;
    opacity: 0.8;
}

#done:hover {
    opacity: 1;
}